/* delete.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

button:hover {
    opacity: 0.9;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}
