General Reset body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
input,
button,
select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    align-items: center;
}

header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

header h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.box {
    justify-content: center;
}

form {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
}

form label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
    display: inline-block;
}

form input,
form select,
form button {
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

form input:focus,
form select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.log {
    text-align: center;
    padding: 20px;
}

.log p {
    font-size: 16px;
    color: #495057;
}

.log a {
    text-decoration: none;
    font-weight: bold;
}

.log a:hover {
    text-decoration: none;
}
